body{
    background: #EEEEEE;
}
main{
    padding-bottom: 3%;
}

nav li{
    display: inline;
    padding-left: 15px;
}

nav{
    text-align: right;
    padding-right: 3%;
    padding-top: 2%;
}

nav a {
    
    text-transform: uppercase;
    color:#c78c19;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: orange;
    text-decoration: underline;
}

#serviciosTitle{
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 20%;
}

.servicios{
    font-size: 25px;
    padding-left: 10%;
}

.productos{
    margin-top: 5%;
    display: grid;
}

#cerraduraTitle{
    text-align: right;
    margin-right: 52%;
}

.cerradura{
    display: grid;
    grid-template-columns: 30% 70%;
}

#convertTitle{
    text-align: left;
}

.conversor{
    display: grid;
    grid-template-columns: 70% 30%;
    padding-right: 1em;
}

#conversor{
    border: 2px solid black;
    box-shadow: 3px #c78c19;
}

#encriptadorTitle{
    text-align: right;
    margin-right: 52%;
}

.encriptador{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1em;
    padding-right: 1em;
}

footer{
    text-align: center;
    padding: 2%;
}

/* css formulario */
form{
    margin: 40px 0;
    padding-left: 3%;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 20px;
}

.horario{
    margin: 20px 0;
    
}

.enviar{
    width: 30%;
    padding: 15px 0;
    color: white;
    background: orange;
    transition: 1s all;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.1);
}