body{
    background: #c8c8c8;
}
/* main{
    padding-bottom: 2%;
} */

nav li{
    display: inline;
    padding-left: 15px;
}

nav{
    text-align: right;
    padding-right: 3%;
    padding-top: 2%;
}

nav a {
    
    text-transform: uppercase;
    color:#c78c19;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: orange;
    text-decoration: underline;
}

#serviciosTitle{
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 20%;
}

.servicios{
    font-size: 20px;
    padding-left: 10%;
}

.productos{
    margin-top: 5%;
    display: grid;
}

#cerraduraTitle{
    text-align: right;
    margin-right: 46%;
}

.cerradura{
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 17px;
}

#convertTitle{
    text-align: left;
    padding-top: 2em;
}

.conversor{
    display: grid;
    grid-template-columns: 65% 35%;
    column-gap: 5px;
    font-size: 17px;
    padding-right: 1.5em;
}

#conversor{
    border: 2px solid black;
    box-shadow: 3px #c78c19;
}

#encriptadorTitle{
    text-align: right;
    margin-right: 44%;
    padding-top: 2em;
}

.encriptador{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1em;
    font-size: 17px;
    padding-right: 1.5em;
}

footer{
    text-align: center;
}
#footerForm{
    padding-bottom: 1em;
    font-weight: bold;
}
/* css formulario */
form{
    margin: 40px 0;
    padding-left: 3%;
    border: none;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 20px;
}

.horario{
    margin: 20px 0;
    
}

.enviar{
    width: 20%;
    padding: 15px 0;
    color: white;
    background: orange;
    transition: 1s all;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

:focus{
    outline: 2px solid orange;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.1);
}