.uno{
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    background: #666666;
    color: aliceblue;
}

#name{
    text-align: center;
    padding-bottom: 2.5%;
    border-bottom: 3px solid #c78c19;
}

.vectors, .info{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}

#location, #phone, #mail{
    width: 30px;
    height: 30px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    justify-items: center;
}

#foto{
    width: 40%;
    margin-left: 30%;
    border-radius: 1em;
    /* border: 1px solid black; */
}

nav li{
    display: inline;
    padding-left: 15px;
}

nav a {
    text-transform: uppercase;
    color:#c78c19;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: orange;
    text-decoration: underline;
}

.dos{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: minmax(50px, auto);
    gap: 0em;
    /* border: 1px solid red; */
}

.foto, .educacion, .habilidades {
    background: #EEEEEE;
    grid-gap: 0em;
}

.foto{
    grid-row: 1/3;
    gap: 1px;
    /* border: 1px solid black; */
}

.navegacion{
    padding-left: 48%;
    /* border: 1px solid black; */
}

.resumen{
    font-size: 20px;
    grid-column: 2;
    grid-row: 2;
    grid-gap: 0em;
    text-align: left;
    padding-left: 1%;
    padding-right: 2%;
    /* border: 1px solid black; */
}

.tres{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: minmax(50px, auto);
    background-color: #F5F5F5;
    /* border: 1px solid red; */
}

.tres-dos{
    grid-template-rows: minmax(50px, auto);
    /* margin-left: 3%; */
    gap: 0em;
}

.principal{
    grid-column: 2;
    grid-row: 1;
    padding-left: 1em;
    padding-right: 1em;
    /* border: 2px solid red; */
}

.educacion, .habilidades{
    grid-column: 1;
    grid-auto-rows: minmax(50px, auto);
    gap: 0em;
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 2em;
    /* border: 1px solid black; */
}

#educacionTitle{
    padding: 0.5em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#habilidadesTitle{
    padding: 0.5em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* .habilidades{
    padding: 0.5em;
    padding-bottom: 2em;
} */

.skills:not(:last-child){
    margin-bottom: 30px;
}

.detalles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menu{
    position: relative;
    border: 1px solid #c78c19;
    border-radius: 20px;
}

.menu div{
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: #c78c19;
}

/* animación */
#html-menu{
    animation: html-barra 2s forwards;
}
@keyframes html-barra{
    100%{
        width: 90%;
    }
}

#css-menu{
    animation: css-barra 2s forwards;
}
@keyframes css-barra{
    100%{
        width: 70%;
    }
}

#js-menu{
    animation: js-barra 2s forwards;
}
@keyframes js-barra{
    100%{
        width: 50%;
    }
}

#php-menu{
    animation: php-barra 2s forwards;
}
@keyframes php-barra{
    100%{
        width: 50%;
    }
}

#java-menu{
    animation: java-barra 2s forwards;
}
@keyframes java-barra{
    100%{
        width: 50%;
    }
}
#excel-menu{
    animation: excel-barra 2s forwards;
}
@keyframes excel-barra{
    100%{
        width: 50%;
    }
}
#ingles-menu{
    animation: ingles-barra 2s forwards;
}
@keyframes ingles-barra{
    100%{
        width: 50%;
    }
}


.experiencia, .descripcion, .cursos, .cursosDescripcion{
    display: grid;
    grid-template-columns: 30% 70%;
    /* border: 1px solid black; */
}

.fechaLugar{
    color: #c78c19;
}

/* #experienciaTitle, #cursosTitle{
    border: 1px solid black;
} */

#experienciaTitle{
    grid-row: 1;
    padding: 0.5em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.experienciaDescripcion{
    display: grid;
    grid-template-columns: 28% 72%;    
}

.experiencia{
    display: inline;
}

.descripcion{
    display: inline;
    padding-right: 3%; 
}

#cursosTitle{
    padding: 0.5em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.course{
    display: grid;
    grid-template-columns: 28% 72%;    
}

.cursos{
    display: inline;
}

.cursosDescripcion{
    display: inline; 
}

footer{
    text-align: center;
}