#name{
    display: grid;
    grid-template-columns: 100%;
    height: 80px;
    text-align: center;
    border-bottom: 1px solid #c78c19;
    background: grey;
}

#location, #phone, #mail{
    width: 30px;
    height: 30px;
}

#location{
    display: inline;
    padding-left: 16%;
    color: goldenrod;
}

#phone{
    display: inline;
    padding-left: 30%;
    color: goldenrod;
}

#mail{
    display: inline;
    padding-left: 30%;
    color: goldenrod;
}

.info{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background: grey;
}

.vectors{
    background: grey;
}

nav {
    position: absolute; 
    top:35%; 
    right: 2%; 
}

nav li{
    display: inline ;
    margin: 0 0 0 15px;
    
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}   

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border: 1px solid black;
}

#foto{
    grid-column: 1;
    margin-left: 30%;
    width: 50%;
    align-items: center;
    border:  1px solid black;
}

.resumen{
    grid-column: 2/4;
    position: relative;
    padding-top: 15%;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
}

.educacion{
    grid-column: 1;
    grid-row-start: auto;

}

#educacionTitle{
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.habilidades{
    grid-column: 1;
    grid-row: 3;
}

#habilidadesTitle{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.principal{
    grid-column: 2/4;
    grid-row: 2;
}

.principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-auto-rows: repeat(100px, auto);
    border: 1px solid black;
}

#experienciaTitle{
    grid-column: 1 / 4;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.experiencia{
    grid-column: 1;
    border: 1px solid black;
}

.descripcion{
    grid-column: 2;
}

#cursosTitle{
    grid-column: 1/4;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.cursos{
    grid-column: 1;
}

.cursosDescripcion{
    grid-column: 2;
}